<% include ./partials/header %>

<div class="ui main container segment">
    <%categories.forEach((category)=>{%>    
        <div class="container">
            
                <h1 id="<%=category.NAME%>" class="category-name"><%=category.NAME%></h1>
             
            <div class="row">
                <% category.news.forEach((data)=>{ %>
               
                  <div class="col-lg-12">
                        <div class = "news-container ui segment">

                            <img class="mini-image" src="<%=data.IMGURL %>" alt="">
                            <div class="news-desc">
                                <h2 id="<%=data.TITLE%>"><%=data.TITLE%></h2>
                                <h4><%=data.DateCreated%></h4>
                                <%var text = data.PARAGRAPH.substring(0, 300) %>
                                <p class="paragraph"><%=text%></p>
                            </div>
                            <div class="button-set">
                                <a href="/news/<%= data.ID%>/edit" class="ui orange button">Edit</a>
                                <form id="delete-button" action="/news/<%=data.ID%>?_method=DELETE" method="POST">
                                    <button  class="ui red button">DELETE</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <%})%>
  
            </div>
        </div>
    <%})%>
</div>

<% include ./partials/footer%>